/__pycache__/*
*/__pycache__/*
*/*.pt
*/*.csv
data/*.pt
data/*.pth
data/*.csv
data/*/*.pth
data/real_data/torchfiles/*/*.csv
data/real_data/torchfiles/*/*.pth
data/*
results/*
prosailvae.egg/*
prosailvae.egg-info/*
