auto-walrus
black           # code formatting
codecarbon
flake8          # code analysis
geopandas
ipykernel
ipython
isort           # import sorting
jax
lightning-utilities==0.9.0
matplotlib  # <3.6 https://github.com/nschloe/tikzplotlib/issues/559
memory_profiler
mypy            # linter
numpy
numpyro
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
omegaconf
pandas
pre-commit      # hooks for applying linters on commit
psutil
pudb            # debugger
pytest          # tests
python-dotenv   # loading env variables from .env file
python-lsp-server[all]
pytorch-lightning==2.0.6
pyupgrade
rasterio
refurb
rich
ruff
scikit-learn
seaborn
sh              # for running bash commands in some tests
tensorboard
tikzplotlib
torch==2.0.1
torchvision
tqdm
zenodo_get
